echo node_modules/ > .gitignore
echo .env >> .gitignore
echo codebase/ >> .gitignore
echo e2e/reports/videos/ >> .gitignore
echo e2e/reports/screenshots/ >> .gitignore
echo e2e/reports/failures/ >> .gitignore
echo e2e/reports/analysis/ >> .gitignore
echo e2e/reports/dashboard.html >> .gitignore
echo e2e/reports/report.html >> .gitignore
echo e2e/reports/cucumber.json >> .gitignore